# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: The Architect Who Codes | Hands-on Development for Better Decision-Making
description: >- # this means to ignore newlines until "baseurl:"
 The best architects are also the best engineers. This blog is my commitment to bridging the gap. I am dedicating time to hands-on upskilling with the modern tech stack, ensuring that every architectural decision I make is informed by current, real-world development experience. It's about enhancing my craft and delivering more practical, high-quality architectures. Sharing my journey to inspire others.
baseurl: "" # the subpath of your site, e.g. /blog
url: "rswitzer.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
remote_theme: "jekyll/minima@bf9ef98"
plugins:
  - jekyll-feed
minima:
  skin: dark
  social_links:
    - title: Rachel's LinkedIn
      icon: linkedin
      url: "https://github.com/jekyll/minima"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
#   - assets
